@model Streamus.Web.ViewModels.Shared.MediaItemViewModel

@{
	ViewBag.Title = "MediaItem Details";
}

<h2>MediaItem Details</h2>

<div>
    <h4>MediaItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VideoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MQImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MQImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HQImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HQImageUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
